    <!-- Main CSS File -->
<link href="~/assets/css/style.css" rel="stylesheet">
<link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- ======= Hero Section ======= -->
    <div id="hero" class="hero route bg-image" style="background-image: url(/assets/img/myPhoto.jpg)">
        <div class="overlay-itro"></div>
        <div class="hero-content display-table">
            <div class="table-cell">
                <div class="container">
                    <!--<p class="display-6 color-d">Hello, world!</p>-->
                    <h1 class="hero-title mb-4">I am Llewelyn Smit</h1>
                    <p class="hero-subtitle"><span class="typed" data-typed-items="Designer, Developer"></span></p>
                    <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
                </div>
            </div>
        </div>
    </div><!-- End Hero Section -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about-mf sect-pt4 route">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box-shadow-full">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-5">
                                            <div class="about-img">
                                            <img src="~/assets/img/LlewelynSomewhatProfessional.jpeg" class="img-fluid rounded b-shadow-a" alt="">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-7">
                                            <div class="about-info">
                                                <p><span class="title-s">Name: </span> <span>Llewelyn Smit</span></p>
                                                <p><span class="title-s">Profile: </span> <span>Software Developer</span></p>
                                                <p><span class="title-s">Email: </span> <span>llewelynsmit99@gmail.com</span></p>
                                                <p><span class="title-s">Phone: </span> <span>074 383-2650</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill-mf">
                                        <p class="title-s">Skill</p>
                                        <span>HTML</span> <span class="pull-right">85%</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>CSS3</span> <span class="pull-right">75%</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>C#</span> <span class="pull-right">70%</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>JAVASCRIPT</span> <span class="pull-right">90%</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="about-me pt-4 pt-md-0">
                                        <div class="title-box-2">
                                            <h5 class="title-left">
                                                About me
                                            </h5>
                                        </div>
                                        <p class="lead">
                                            Committed to utilizing my skills to further the mission of a company and excited to join my next
                                            team. Well-rounded and professional
                                            team player dedicated to continuing academic pursuits. Able to effectively self-manage during
                                            independent projects, as well as
                                            collaborate as part of a team. Knowledgeable in user interface, testing, and debugging processes.
                                            Equipped with a diverse and
                                            promising skill-set in an assortment of technologies, including C#, HTML5/CSS, JS, and Microsoft
                                            SQL Server.
                                            <br>
                                            <br>
                                            Feel free to look at my full CV <a style="color:blue !important"
                                                                               href="https://www.lobelgium.co.za/CV/LlewelynCV.docx">here!</a>
                                            <br>
                                            Full CV also shows some of my personal projects.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End About Section -->
        <!-- ======= Services Section ======= -->
        <section id="whyme" class="services-mf pt-5 route">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box text-center">
                            <h3 class="title-a">
                                WHY ME?
                            </h3>
                            <p class="subtitle-a">
                                Here is a list of skills and characteristics that will add value to your organisation.
                            </p>
                            <div class="line-mf"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="service-box">
                            <div class="service-ico">
                                <span class="ico-circle"><i class="bi bi-briefcase"></i></span>
                            </div>
                            <div class="service-content">
                                <h2 class="s-title">C# DEVELOPMENT</h2>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service-box">
                            <div class="service-ico">
                                <span class="ico-circle"><i class="bi bi-card-checklist"></i></span>
                            </div>
                            <div class="service-content">
                                <h2 class="s-title">Web Development</h2>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service-box">
                            <div class="service-ico">
                                <span class="ico-circle"><i class="bi bi-bar-chart"></i></span>
                            </div>
                            <div class="service-content">
                                <h2 class="s-title">DATABASE DESIGN</h2>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service-box">
                            <div class="service-ico">
                                <span class="ico-circle"><i class="bi bi-binoculars"></i></span>
                            </div>
                            <div class="service-content">
                                <h2 class="s-title">Responsive Design</h2>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service-box">
                            <div class="service-ico">
                                <span class="ico-circle"><i class="bi bi-brightness-high"></i></span>
                            </div>
                            <div class="service-content">
                                <h2 class="s-title">CRITICAL THINKING</h2>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service-box">
                            <div class="service-ico">
                                <span class="ico-circle"><i class="bi bi-calendar4-week"></i></span>
                            </div>
                            <div class="service-content">
                                <h2 class="s-title">
                                    PUNCTUALITY FIRST
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Services Section -->
        <!-- ======= Testimonials Section  I Only Have One So Far, Tough Luck For Struggling Student (He's A Chad, So It Should Be Enough, #QuietAppreciation')======= -->
        <div id="testimonial" class="testimonials paralax-mf bg-image">
            <div class="overlay-mf"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="10000">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide">
                                    <div class="testimonial-box">
                                        <div class="author-test">
                                        <img src="~/assets/img/Untitled.png" alt="" class="rounded-circle b-shadow-a">
                                            <span class="author">Karel Nel</span>
                                        </div>
                                        <div class="content-test">
                                            <p class="description lead">
                                                Lleweyn Smit is an exceptional individual who excels in all areas of his expertise. As someone
                                                who has had the pleasure of working alongside him through a couple of my larger projects, I can
                                                attest to his eagerness to learn and improve his skillset continuously.
                                                <br>
                                                <br>

                                                One of Llewelyn's most outstanding qualities is his keen eye for detail. He is highly organized
                                                and can identify even the most minor issues, which makes him an invaluable asset to any team.
                                                Furthermore, his excellent communication skills allow him to articulate his ideas clearly and
                                                effectively.
                                                <br>
                                                <br>

                                                Llewelyn is a fast learner and is always willing to take on new challenges. His entrepreneurial
                                                spirit and dedication to excellence have set him apart from his peers. In my experience, he has
                                                been a valuable contributor to every project he has been a part of.
                                                <br>
                                                <br>

                                                In conclusion, I would highly recommend Llewelyn for any project or role where excellence,
                                                dedication, and an entrepreneurial spirit are valued. He is a talented individual with a passion
                                                for self-improvement that is sure to drive him to success in any field he chooses to pursue.
                                                <br>
                                                <br>

                                                Contact No.: 082 560 8530
                                                <br>
                                                Email: Karel@perfectcircle.co.za
                                                <br>
                                                Role: Junior Software Developer
                                                <br>
                                                Department: Development team
                                                <br>
                                                Company: Perfect Circle Design
                                            </p>

                                        </div>
                                    </div>
                                </div><!-- End testimonial item -->
                                <!-- End testimonial item -->
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>

                        <!-- <div id="testimonial-mf" class="owl-carousel owl-theme">

                        </div> -->
                    </div>
                </div>
            </div>
        </div><!-- End Testimonials Section -->

    </main><!-- End #main -->


    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/typed.js/typed.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
<script src="~/assets/js/main.js"></script>

